.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 2px ridge;
    min-height: 400px;
}

.footer {
    background-color: #c0c0c0;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    border-bottom: 2px ridge;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #fff7f7;
    color: floralwhite;
    border-bottom: 2px ridge;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.bg-light {
    background-color: #c0c0c0 !important;
}

.table .thead-dark th {
    color: floralwhite;
    background-color: #5e5e5e
}

tr:hover {
    background-color: #dbb08db0!important
}

.carousel {
    background: #7e5331
}

.carousel-item {
    height: 300px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

#carouselButtons {
    right: 0px;
    position: absolute;
    bottom: 0px;
}